h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#book-form {
    position: absolute;
    top: 10%;
    right: 10%;
}
#book-form > * { display: block;}

#books {
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

#books > *{
    background-color: aquamarine;
    padding: 15px;
    width: 50%;
    margin-bottom: 10px;
    border-radius: 5px;
}